<h1> Stupid Coaching</h1>

<form action="/answer">
  <input type="text" name="question" value="<%= params[:question] %>" placeholder="Question?">
  <input id="button" type="submit" value="Ask!">
</form>
